<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width" />
      <title>Digital Notice Board Using Raspberry pi</title>
      <link rel="stylesheet" href="../static/css/components.css">
      <link rel="stylesheet" href="../static/css/responsee.css">
      <link rel="stylesheet" href="../static/owl-carousel/owl.carousel.css">
      <link rel="stylesheet" href="../static/owl-carousel/owl.theme.css">
       
     
      <link rel="stylesheet" href="../static/css/template-style.css">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script type="text/javascript" src="../static/js/jquery-1.8.3.min.js"></script>
      <script type="text/javascript" src="../static/js/jquery-ui.min.js"></script>    
      <script type="text/javascript" src="../static/js/modernizr.js"></script>
      <script type="text/javascript" src="../static/js/responsee.js"></script>   
  
   </head>

<style type="text/css">
   	.image {
   		margin-left: 110px;
   		margin-top: 2px; 
  display: block;
  width: 50%;
  height: auto;
}

.image:hover
{
  border-radius: 0px;
}
	.img-container img {
display:inline-block;
}
   </style>

   <body class="size-1140">
        
      <header>
         <nav>
            <div class="line">
               <div class="top-nav">              
                  <div class="logo hide-l">
                     <a href="../static/design/">Digital Notice Board <br /><strong>Using Raspberry Pi</strong></a>
                  </div>                  
                  <p class="nav-text">OPtions Menu</p>
                  <div class="top-nav s-12 l-5">
                     <ul class="right top-ul chevron">
                        <li><a href="">Home</a>
                        </li>
                        <li><a href="login">LOGIN</a>
                        </li>
                        <li><a href="signup" >REGISTER</a>
                        </li>
                     </ul>
                  </div>
                  <ul class="s-12 l-2">
                     <li class="logo hide-s hide-m">
                        <a href="../static/design/">Digital Notice Board <br /><strong>Using Raspberry Pi</strong></a>
                     </li>
                  </ul>
                  <div  class="top-nav s-12 l-5">
                     <ul class="top-ul chevron">
                        <li><a href="#first-block" id="aboutus">ABOUT US</a>
                        </li>
                       
                        <li><a href="../design/contact.html">CONTACT</a>
                        </li>
                     </ul> 
                  </div>
               </div>
            </div>
         </nav>
      </header>
      <section>
         <div id="carousel">
            <div id="owl-demo" class="owl-carousel owl-theme">
               <div class="item">
                  <img src="../static/rsp.jpg" alt="">     
                  <div class="carousel-text">
                     <div class="line">
                       
                        <div class="s-12 l-9">
                          
                        </div>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <img src="../static/rsp4.jpg" alt="">      
                  <div class="carousel-text">
                     <div class="line">
                       
                       
                     </div>
                  </div>
               </div>
              
            </div>
         </div>


            	
         <div id="first-block">
            <div class="line">
               <h2>ABOUT US</h2>
               <br>

                <div class="margin">
                  <div class="s-16 m-8 l-4 margin-bottom">
                    <img src="../static/dnyaneshwar.JPG" class="image" style="border-radius: 100px"></img>
                     <h3>Dnyaneshwar More</h3>
                     <h4>2014BIT038</h4>
                     <div class="img-container">
                     <a target="_blank" title="find us on Facebook" href="https://www.facebook.com/dnyaneshwar.more.581525?fref=ts"><img alt="follow me on facebook" src="../static/facebook_30x30.png" border=0 style="margin-left: 10px;"></a> 
                     <a target="_blank" title="find us on gmail" href="#"><img alt="follow me on gmail" src="../static/gmail.jpg" border=0 style="margin-left: 10px;"></img></a>
                     <a target="_blank" title="find us on linked-in" href="#"><img alt="follow me on linked-in" src="../static/linkedin.png" border=0 style="margin-left: 10px;"></img></a> 
                     </div>
                  </div>	
                  <div class="s-16 m-8 l-4 margin-bottom">
                     <img src="../static/ravi.jpg" class="image" style="border-radius: 100px"></img>
                     <h3>Ravi Bele</h3>
                    <h4>2013BIT060</h4> 
                    <div class="img-container">
                     <a target="_blank" title="find us on Facebook" href="https://www.facebook.com/ravi.bele.1"><img alt="follow me on facebook" src="../static/facebook_30x30.png" border=0 style="margin-left: 10px;"></a> 
                     <a target="_blank" title="find us on gmail" href="#"><img alt="follow me on gmail" src="../static/gmail.jpg" border=0 style="margin-left: 10px;"></img></a> 
                     <a target="_blank" title="find us on linked-in" href="#"><img alt="follow me on linked-in" src="../static/linkedin.png" border=0 style="margin-left: 10px;"></img></a>
                     </div>
                  </div>
                  <div class="s-16 m-8 l-4 margin-bottom">
                     <img src="../static/2.jpeg" class="image" style="border-radius: 100px" width='535' height='535'></img>
                     <h3>Yashadatt Sawant</h3>
					<h4>2014BIT011</h4>	
					<div class="img-container">
                     <a target="_blank" title="find us on Facebook" href="https://www.facebook.com/yashdatt.sawant?fref=ts"><img alt="follow me on facebook" src="../static/facebook_30x30.png" border=0 style="margin-left: 10px;"></a> 
                     <a target="_blank" title="find us on gmail" href="#"><img alt="follow me on gmail" src="../static/gmail.jpg" border=0 style="margin-left: 10px;"></img></a>
                     <a target="_blank" title="find us on linked-in" href="#"><img alt="follow me on linked-in" src="../static/linkedin.png" border=0 style="margin-left: 10px;"></img></a> 
                     </div> 			
                     
                  </div>
                  
               </div>

              
            </div>
         </div>
         	
        
        
         <div id="fourth-block">
            <div class="line">
               <div id="owl-demo2" class="owl-carousel owl-theme">
                  <div class="item">
                     <h2>Digital Notice Board For IT Department</h2>
                     <h3 class="s-12 m-12 l-8 center">Now IT Department Faculty need not to print the notice and put it on the notice board they can simply log in and Send notices to the notice board.</h3>
                     
                  </div>
                  <div class="item">
                     <h2>One Step Towards Digitalization</h2>
                    <h3 class="s-12 m-12 l-8 center"> Moto Of  this project is to take one step towards digitalization.</h3>
                  </div>
                  <div class="item">
                     <h2>Easy to Access</h2>
                     <h3 class="s-12 m-12 l-8 center">This Website is easy Access any one can Use this website by reading the Help Manual.</h3>
                     
                  </div>
               </div>
            </div>
         </div>
      </section>
         
      <footer>
         <div class="line">
            <div class="s-12 l-6">
               <p>Copyright 2017, www.digitalnotice.com
               </p>
            </div>
            <div class="s-12 l-6">
               <p class="right">
                  <a class="right" href="http://www.myresponsee.com" title="Responsee - lightweight responsive framework">Design and coding by Group No 8</a>
               </p>
            </div>
         </div>
      </footer>
      <script type="text/javascript" src="../static/owl-carousel/owl.carousel.js"></script>   
      <script type="text/javascript">
         jQuery(document).ready(function($) {  
           $("#owl-demo").owlCarousel({
         	slideSpeed : 300,
         	autoPlay : true,
         	navigation : false,
         	pagination : false,
         	singleItem:true
           });
           $("#owl-demo2").owlCarousel({
         	slideSpeed : 300,
         	autoPlay : true,
         	navigation : false,
         	pagination : true,
         	singleItem:true
           });
         });	
          
      </script> 
   </body>
</html>s
